*{
    margin: 0;
    padding: 0;

}

header{
    background-color: black;
    height: 400px;
    color: white;

}
.name{
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: yellow;
}

.address{
    display: flex;
    justify-content: center;
    font-size: 38px;

}

.add{
    display: flex;
    justify-content: center;
    font-size: 60px;
    background-color: rgb(134, 255, 239);
height: 60px;

}

.mar{
    background-color:black;
    color:white;
    font-size: 80px;
  
}

      /* on here Main Stare */

      .img1{
            
             height: 100rem;
   
          margin-left: auto;
          margin-right: auto;
          width: 95%;
         display: block;
         margin-top: 0px;
         

      }

      .date{
        font-size: 60px;
        margin-top: 200px;
      }


       #work{
        width: 700px;
        height: 75px;
        background-color:yellow;
        font-size: 50px;
        margin-right: 80px;
       
        
        
      }
/*
      .home-work{ margin-left: auto;
        margin-right: auto;
        width: 95%;
       display: block;
       display: flex;
                  justify-content: space-evenly;
                


      } */

      .content{
        height: 200px;
  position: relative;
 
      }
      .center {
        margin: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding-top: 300px;
        padding-bottom: 5px;
    
     
      }
      .mainimage{
        height: 6000px;
      }